.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.body{
    scroll-behavior: smooth;
}

#hero{
    height: 620px;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

#hero .hero-content{
    width: 998px;
    

}
.primary{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.secondary{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    
}



.sub-sec{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing:0%;
    text-align: center;
    margin-bottom: 48px;
}

#hero .sub{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing:0%;
    text-align: center;
    margin-bottom: 32px;

}

#hero .img-container{
    text-align: center;
    height: 240px;
    margin-bottom: 32px;
}

.btn-container{
    text-align: center;
    /* margin-bottom: 24; */
}
.btn{
    background-color: #0D1321;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    padding: 21px 24px;
    border-radius: 10px;
}

#goal{
    background-color: rgba(13, 19, 33, 0.02);
    margin-top: 80px;
    padding: 80px 97px;
    background-size: cover;
    width: 1140px;
    
}

#goal .goal-sec-heading{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    margin-bottom: 26px;
    
}

#goal .goal-sub-sec{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing:0%;
    margin-bottom: 26px;
    
    /* background: linear-gradient(to right, #FFFFFF, ); */
}

.btn-2{
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    color: #0D1321;
    border: 1;
    padding: 12px 20px;
    border-radius: 0;

}

 #goal .sub-section{
    display: flex;
    justify-content: space-between;
    /* background-image: linear-gradient(white black); */
    padding: 48px;
    background-color: white;
} 

#goal .section-contant{
    width: 477px;
    padding: 48px;
}

.video{
    margin: 80px 80px;
    align-items: center;

}

.video-info{
    /* display: flex; */

}

.video-part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: ;
    border-radius: ;
    margin: ;

}

.target{
    /* width: 1140px; */
    background-size: cover;
    background-position: center;
    align-items: center;
    width: 1140px;
    padding: 80px 0px 97px 97px;
}
.targets{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
    
}
.target-contant{
    padding: 40px;
    border-radius: 10px;
}
 
.html-bg{
    background-color: rgba(255, 76, 30, 0.05);
    width: 364px;
}

.css-bg{
    background-color: rgba(0, 76, 232, 0.05);
    width: 364px;
}

.js-bg{
    background-color: rgba(255, 223, 0, 0.05);
    width: 364px;
}

.target-icon{
    margin-bottom: 24px;
}

.target-head{
    margin-bottom: 10px;

}

.target-p{
    margin-bottom: 24px;

}

.target-link{
    color: inherit;

}

.support{
    /* background: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    width: 1140px;
    padding: 80px 97px; */
    height: 150px;
    width: 998px;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    padding: 80px 80px;
    margin: 0px 0px 97px 97px;
    border-radius: 10px;
}

.support-contant{
    align-items: center;
    
}
.support-heading{

    color: white;
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
    
}

.support-p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing:0%;
    margin-bottom: 26px;
    text-align: center;

}

.submit-sec{
    display: flex;
    gap: 16px;
    justify-content: center;

}

.form{
    padding: 19px;
    width: 548px;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    letter-spacing:0%;
    border-radius: 10px;
    stroke: rgba(13, 19, 33, 0.15);

}

.submit-btn{
    padding: 17px;
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    line-height: auto;
    letter-spacing:0%;
    border-radius: 10px;
    stroke: rgba(13, 19, 33, 1);

}

.footer{
    background-color: rgba(13, 19, 33, 0.03);
    
}

.footer-contant{
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
}

.footer-heading{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    line-height: auto;
    letter-spacing:0%;
    text-align: center;

}

